<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starshine.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.starshine.app.activity.LaunchActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.starshine.app.activity.PuzzleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.starshine.app.activity.ResultWinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.starshine.app.activity.ResultLoseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.starshine.app.activity.OptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.starshine.app.activity.ChooseLexiconActivity"
            android:label="@string/title_activity_choose_lexicon" >
        </activity>
        <activity
            android:name="com.starshine.app.activity.SetGameBgActivity"
            android:label="@string/title_activity_set_game_bg" >
        </activity>
        <activity
            android:theme="@style/Theme.SelectColorDialog"
            android:name="com.starshine.app.dialog.SelectColorDialog"
            android:label="@string/title_activity_set_game_bg" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
